{{$pathParts := splitList "/" .OriginalReq.URL.Path}}
{{$markdownFilename := default "home" (slice $pathParts 2 | join "/")}}
{{$markdownFilePath := printf "/markdown/%s.md" $markdownFilename}}
{{if not (fileExists $markdownFilePath)}}{{httpError 404}}{{end}}
{{$markdownFile := (include $markdownFilePath | splitFrontMatter)}}
{{$title := default $markdownFilename $markdownFile.Meta.title}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mack · {{$title}}</title>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script defer data-domain="mack.im" src="https://plausible.mack.im/js/plausible.js"></script>


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="/static/main.css" rel="stylesheet">
  </head>
  <body class="">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
	  <header class="masthead mb-auto">
	    <div class="inner">
	      <nav class="nav nav-masthead justify-content-center">
	        <a class="nav-link" href="/">Home</a>
	        <a class="nav-link" href="/pages/photos">Photos</a>
	        <a class="nav-link" href="/blog">Blog</a>
	      </nav>
	    </div>
	  </header>

	  <main role="main" class="inner cover h-75">
	    <h1 class="cover-heading">Mack Goodstein</h1>
	    <p class="lead">{{markdown $markdownFile.Body}}</p>
	  </main>
	</div>
</body>
</html>
